<div>
  <label>{{ label }}</label><br>

  <input
    *ngIf="type == 'number'"
    type="number"
    placeholder="{{ph}}"
    [(ngModel)]="ph"
    (ngModelChange)="onChange($event)"
    (blur)="onTouch()"
    min='1920'
    max='2024'
  >

  <input
    *ngIf="type != 'number'"
    type="text"
    placeholder="{{ph}}"
    [(ngModel)]="ph"
    (ngModelChange)="onChange($event)"
    (blur)="onTouch()"
  >
  <app-field-error-display
      name="name"
      [fieldNgModel]="_formControl"
      [customFieldErrors]="[{
        id: 'pattern',
        text: 'La URL debe ser una direccion HTTP bien formada: http://www.miweb.com\n\thttps://www.miweb.com',
      },
      {
        id: 'minLength',
        text: 'La longitud tiene que ser minimo 3 caracteres'
      }]"
  ></app-field-error-display>
</div>
