form > div {
  padding: 10px 0px 10px 5px;
}

button {
  margin: 5px;
}

h1 {
  text-align: center;
}

.imagen {
  padding: 10px;
}

form, .imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
