<h1>Edicion de peliculas</h1>
<div>
  <button (click)="returnPelicula()">Ver Pelicula</button>
</div>
<form [formGroup]="peliForm">

  <app-input-wrapper
    name="poster"
    label="URL Imagen"
    formControlName = "poster"
    ></app-input-wrapper>

  <app-input-wrapper
    name="name"
    label="Nombre"
    formControlName = "name"
    ></app-input-wrapper>

  <app-input-wrapper
    name="year"
    label="Año"
    type="number"
    formControlName = "year"
    ></app-input-wrapper>

  <app-input-wrapper
    name="director"
    label="Director"
    formControlName = "director"
    ></app-input-wrapper>

  <button (click)="handleSaveClick()">Guardar</button>
</form>
