<h1>Modificar pelicula</h1>
<div class="imagen">
  <img src="{{ returnPelicula('poster') }}">
</div>
<form [formGroup]="peliForm">

  <app-input-wrapper
    name="poster"
    label="URL Imagen"
    formControlName = "poster"
    [ph]='returnPelicula("poster")'
    ></app-input-wrapper>

  <app-input-wrapper
    name="name"
    label="Nombre"
    formControlName = "name"
    [ph]="returnPelicula('name')"
    ></app-input-wrapper>

  <app-input-wrapper
    name="year"
    label="Año"
    type="number"
    formControlName = "year"
    [ph]="returnPelicula('year')"
    ></app-input-wrapper>

  <app-input-wrapper
    name="director"
    label="Director"
    formControlName = "director"
    [ph]="returnPelicula('director')"
    ></app-input-wrapper>

  <button (click)="handleSaveClick()">Guardar</button>
</form>
