* {
  font-family: Roboto, sans-serif;
}

body {
  padding: 0px 10% 0px 10%;
}

header > div {
  display: flex;
  justify-content: space-around;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main > img {
  padding: 10px 10px 30px 10px;
  width: 200px; 
}

caption { 
  padding: 7px;
  background-color: rgb(120, 202, 113);
  font-weight: bolder;
}

table img {
  width: 100px;
}

table, tr, td {
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
}

td, th {
  padding: 10px 40px 10px 40px;
}

h4 {
  text-align: center;
}

ul {
  columns: 2;
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  padding: 0px;
  text-align: center;
}